VIDEOCAD_ONSHAPE_PLANNER_API_KEY=sk-replace-me
VIDEOCAD_ONSHAPE_RUNPOD_API_KEY=rpa_replace_me
VIDEOCAD_ONSHAPE_RUNPOD_ENDPOINT_ID=YOUR_RUNPOD_ENDPOINT_ID
VIDEOCAD_ONSHAPE_BROWSER_PROFILE_PATH=/Users/mtkachenko/Library/Application Support/Google/Chrome/Profile 1
VIDEOCAD_ONSHAPE_BROWSER_PROFILE_NAME=Profile 1
VIDEOCAD_ONSHAPE_BROWSER_BLANK_PART_STUDIO_URL=https://cad.onshape.com/documents/replace-me/w/replace-me/e/replace-me
